body{
 margin: 0px;
}

@media (orientation: landscape) {
 #navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 124, 42, 1);
  height: auto;
  min-height: 12vh;
  max-height: 20vh;
  text-align: center;
 }
 #navbar hr{
  width: 80%;
 }
 #navbar button{
  height: auto;
  margin: auto;
  padding: 3vh, 5vw, 3vh, 5vw;
  margin-bottom: 5px;
 }
 #navbar h1{
  font-size: 2vw;
  margin: auto;
  padding: auto;
 }
}