/* Global */
body {
 background-color: rgb(185, 185, 185);
 margin: 0px;
}
h3 {
 margin: 0;
 font-size: 35px;
 padding: 50px;
}

/* For desktop based browsers */
@media (orientation: landscape) {
 /* Common Navigation Bar */
 header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(182, 88, 12);
   min-height: 16vh;
   height: auto;
   text-align: center;
 }
 header hr {
   width: 80%;
   margin: 0;
   padding: auto;
   color: white;
 }
 header button {
   height: auto;
   min-height: 2vh;
   margin: 3px;
   font-size: 38px;
   font-weight: 600;
   border-radius: 12px;
   background-color: pink;
   color: brown;
   font-style: italic;
   border: solid 0px black;
 }
 header button:hover {
  margin-top: 1px;
  font-weight: 900;
  border: solid 2px black;
 }
 header h2 {
   font-size: 2vw;
   margin: 0;
   padding: 0;
 }

 /* Common arrows */
 .down_arrows {
  width: 100%;
  width: 5vw;
  height: 2vw;
 }


/* Home Page styles */
/* Introductory slide */
 #home_page-page_header {
  position: relative;
  width: 100vw;
  height: 80vh;
  min-height: 700px;
  justify-content: center;
  flex-direction: row;
  display: flex;
}
 #logo {
  position: absolute;
  width: 30vw;
  height: auto;
  color: red;
  margin: 3vw;
  transition: all 0.3s ease;
 }
 #logo:hover {
  width: 34vw;
  height: auto;
  color: red;
  margin: 1vw;
  transition: all 0.3s ease;
 }
 #home_page-page_header h1, #home_page-page_header pre {
  margin-right: 3vw;
  margin-bottom: 0;
  font-size: 26px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 #home_page-page_header button {
  background-color: pink;
  margin-right: 6vw;
  padding: 15px;
  width: 15vw;
  height: 9vh;
  border-radius: 5px;
  font-size: 2em;
  font-weight: 700;
  transition: all 0.3s ease;
 }
 #home_page-page_header button:hover {
  width: 20vw;
  height: 12vh;
  margin-right: 3.5vw;
  transition: all 0.3s ease;
 }
 #home_page-page_header-bg {
  position: absolute;
  background-size: cover;
  z-index: -1;
  width: 100%;
  filter: blur(3px);
 }


 /* Featured items slide */
 #home_page-featured {
  background-color: orange;
  width: 100vw;
  height: 60vh;
  min-height: 600px;
  justify-content: center;
  transform: translateY(50px);
  opacity: 0;
 }
 #home_page-featured.visible {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.7s ease-in-out;
 }
 #home_page-featured-offers {
  display: flex;
  width: 100vw;
  text-align: center;
  gap: 10vw;
  justify-content: center;
 }
 #home_page-featured-offers img {
  height: 55%;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
 }
 #home_page-featured-offers p {
  font-size: 16px;
  margin: 0;
  text-wrap: wrap;
 }
 #home_page-featured-offer {
  height: 16vw;
  width: 10vw;
  background-color: rgba(131, 131, 131, 0.699);
  border-radius: 16px;
  transition: all 0.7 ease-in-out;
 }
 #home_page-featured-offer:hover{
  height: 20vw;
  width: 14vw;
  transition: all 0.7 ease-in-out;
 }
 #home_page-featured-bg {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
 }
}